In [1]:
#Initialisation
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import yfinance as yf

In [2]:
#S&P500 Index
sp = yf.Ticker("^GSPC")
#Nikkei Index
nikkei = yf.Ticker("^N225")
# Straits Times Index
sti = yf.Ticker("^STI")

# Retriving DF of the 3 tickers , forward fill to fill NAN entries and backfill to fill day 1 NAN entries
#COVID DF
covid_df = yf.download("^GSPC ^N225 ^STI", start="2020-01-18", end="2020-07-18")
covid_df = covid_df.fillna(method='ffill')
covid_df = covid_df.fillna(method='bfill')
covid_df = covid_df.reset_index()
covid_df = covid_df[['Date','Adj Close']]
covid_df = covid_df.rename(columns={'Adj Close': 'Adj Close_COVID', 'Date':'Date_COVID'})

#SARS DF
sars_df = yf.download("^GSPC ^N225 ^STI", start="2003-02-08", end="2003-08-09")
sars_df = sars_df.fillna(method='ffill')
sars_df = sars_df.fillna(method='bfill')
sars_df = sars_df.reset_index()
sars_df = sars_df[['Date','Adj Close']]
sars_df = sars_df.rename(columns={'Adj Close': 'Adj Close_SARS', 'Date':'Date_SARS'})

[*********************100%***********************]  3 of 3 completed
[*********************100%***********************]  3 of 3 completed

In [3]:
merged = covid_df.merge(sars_df, left_index = True, right_index = True)
merged

    Date_COVID Adj Close_COVID                             Date_SARS  \
                         ^GSPC         ^N225         ^STI
0   2020-01-17     3329.620117  24083.509766  3280.090088 2003-02-07
1   2020-01-20     3329.620117  24083.509766  3280.090088 2003-02-10
2   2020-01-21     3320.790039  23864.560547  3247.169922 2003-02-11
3   2020-01-22     3321.750000  24031.349609  3253.929932 2003-02-12
4   2020-01-23     3325.540039  23795.439453  3234.560059 2003-02-13
..         ...             ...           ...          ...        ...
126 2020-07-13     3155.219971  22784.740234  2631.080078 2003-08-04
127 2020-07-14     3197.520020  22587.009766  2620.189941 2003-08-05
128 2020-07-15     3226.560059  22945.500000  2648.899902 2003-08-06
129 2020-07-16     3215.570068  22770.359375  2623.669922 2003-08-07
130 2020-07-17     3224.729980  22696.419922  2618.479980 2003-08-08

    Adj Close_SARS
             ^GSPC        ^N225         ^STI
0       829.690002  8484.929688  1282.729980
1       835.969971  8484.929688  1282.729980
2       829.200012  8484.929688  1295.969971
3       818.679993  8664.169922  1295.969971
4       817.369995  8599.660156  1268.329956
..             ...          ...          ...
126     982.820007  9452.790039  1537.280029
127     965.460022  9382.580078  1508.689941
128     967.080017  9323.910156  1510.180054
129     974.119995  9265.559570  1533.609985
130     977.590027  9327.530273  1534.540039

[131 rows x 8 columns]